.square {
    height : 200px;
    width: 200px;
    border: 2px solid black;
    font-size: 100px;
    text-align: center;
}

.gameboard {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}

h1 {
    text-align: center
}

.message{
    text-align: center;
    font-size: 75px;
}
body{
    background: b
}